.Hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        background-color: hsl(24deg 43% 36%);
        right: 0%;
        top: 0;
        border-radius: 50px;
        filter: blur(5px);
        transform: rotateZ(30deg) translatex(250px);
        z-index: 0;
    }

    &::after {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        background-color: hsl(24deg 43% 36%);
        top: 0;
        left: 0%;
        border-radius: 50px;
        filter: blur(5px);
        transform: rotateZ(-30deg) translatex(-250px);
        z-index: 0;
    }

    .welcome {
        z-index: 2;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        h2 {
            margin: 0;

            span {
                float: right;
            }
        }
    }

    .titles {
        z-index: 2;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        ul {
            display: flex;
            list-style: none;
            margin: 5vh 0;

            li {
                padding: 0 16px;
                position: relative;


                &::before {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    clip-path: ellipse(20% 50% at 50% 50%);
                    z-index: -1;
                    transform: translate(-15px, -15px);
                    background-color: hsl(24deg 43% 25%);
                    transition: all 0.5s ease-in-out;
                    opacity: 0;
                }

                &:hover::before {
                    opacity: 1;
                    clip-path: ellipse(50% 30% at 50% 50%);
                }
            }
        }

        p {
            text-align: center;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;

            a {
                padding: 15px;
                border-radius: 20px;
                color: var(--bgcolor);
                background-color: var(--txtcolor);

                &:hover {
                    -webkit-transform: translateY(10px);
                    -moz-transform: translateY(10px);
                    transform: translateY(10px);
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
                }
            }
        }
    }


    .Floaty {
        width: 60%;
        height: auto;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 20px 32px 0 hsl(24deg 43% 56% / 30%);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 0 0 10px 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        z-index: 3;
        transition: all 2s ease;

        &:hover {
            background: rgba(0, 0, 0, 0.3);
            filter: drop-shadow(0px 0px 3px hsl(24deg 43% 56% / 83%));
            box-shadow: 0px 20px 32px 0 hsl(24deg 43% 56% / 70%);
        }

        .logo {
            max-height: 50px;
        }

        p {

            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                clip-path: ellipse(20% 50% at 50% 50%);
                z-index: -1;
                transform: translate(-5px, -15px);
                background-color: hsl(24deg 43% 25%);
                transition: all 0.5s ease-in-out;
                opacity: 0;
            }

            &:hover::before {
                opacity: 1;
                clip-path: ellipse(50% 30% at 50% 50%);
            }

        }
    }
}